<?xml version="1.0"?>

<model>
  <name>Robotec Lab Field</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Robotec</name>
    <email>robotec@gmail.com</email>
  </author>

  <description>
    A RoboCup Humanoid League KidSize field according to 2024 rules.
  </description>
</model>
